<h1>ESTA ES LA PAGINA DEL PANEL DE CONTROL</h1>
<p>Find me in app/views/admin/index.html.erb</p>
  <li><%= link_to 'ingresar Producto', productos_path, class: 'button alt' %></li>
   <li><%= link_to 'ingresar Categoria', categoria_path, class: 'button alt' %></li>
